//.JS-Menu-List
//{
//
//	position   : absolute;
//	border     : 1px solid $C-Third;
//	border-top : 0;
//	left       : -1px;
//	right      : -1px;
//
//	background : #fff;
//	overflow   : hidden;
//	z-index    : 7;
//	height     : 0;
//	display    : none;
//
//	transition : height 0.2s;
//}
//
//.JS-Item-List-Active
//{
//	background : $Color-Primary;
//	color      : white;
//}
//
//.JS-Menu-Accordion
//{
//	@extend %Transition-Std;
//	display : none;
//	height  : 0;
//
//}
//
//.Mobile-Menu-Translate-Left
//{
//	height : 0;
//}
//
//.Mobile-Menu-Translate-Right
//{
//	//transform : translateX(0px);
//	height : 360px !important;
//}
//
//.JS-Rotate-Arrow-0
//{
//	transform        : rotate(0deg);
//	transform-origin : center center;
//	transition       : transform 0.4s;
//}
//
//.JS-Rotate-Arrow-180
//{
//	transform        : rotate(180deg);
//	transform-origin : center center;
//	transition       : transform 0.4s;
//}
//
//.JS-Form-Result
//{
//	font-size  : 14rem;
//	text-align : center;
//	clear      : both;
//}
//
