.Site-Header
{
  @extend %Transition-Std;
  @extend %Wrapper;
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  will-change:height;
  @include Adaptive('>=600px')
  {
    padding-top: 20px;
  }

  #Branding
  {
    @include Adaptive('>=600px')
    {
      display: table-cell;
      vertical-align: middle;
      text-align: initial;
    }

    a
    {
      display: inline-block;
    }

    .Logo
    {

      max-width: 256px;
      width: 100%;
      height: 58px;
      fill: #494948;
      @include Adaptive('>=600px')
      {
        max-width: 214px;
        height: 50px;

      }
    }
  }
  .widget-area
  {
    @extend %Table-Content;
    width: 100%;
    .menu
    {
      @extend %Table-Content;
      li
      {
        & + li
        {
          padding-left: 25px;
        }

      }
    }

  }
  a:hover
  {
    color: $C-Termal ;
  }
  .Header-Nav-Wrap
  {
    @extend %Unselectable;
    @include Adaptive('>=600px')
    {
      display: table-cell;
      vertical-align: middle;
      width: 310px;
    }
    @include Adaptive('>=1000px')
    {
      width: 472px;
    }
  }
  @at-root .Header-Nav
  {
    @extend %Font-Circle-Regular;
    font-size: 0;

    display: table;
    vertical-align: middle;
    width: 100%;
    a
    {

      padding: 5px 0;
      color: #555458;
    }

    a, li
    {
      @extend %Font-Circle-Regular;
      font-size: 19rem;
      line-height: 22rem;

    }

    .current-menu-item a
    {
      color: $C-Termal;
    }
  }
  .menu-header
  {
    display: inline-table;
    vertical-align: middle;
    ul
    {

      display: table;

      @include Adaptive('>=600px')
      {


      }
      li
      {

        display: table-cell;
        vertical-align: middle;

        & + li
        {

          a{
            margin-left: 19px;
          }
        }
      }
    }
  }
  .Menu-Blog
  {
    display: inline-table;
    vertical-align: middle;
    float: right;
    padding-left: 24px;

  }

}

